# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\0316\gmall0316\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
